{% extends 'nav.html' %}

{% block title %}HOME{% endblock title %}
{% block style %}
<style>
    img {
        float: right;
        /* height: auto; */
        height: 105vh;
        width: auto;
    }

    .quote {
        font-size: 36px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        /* Adjust the height as needed */

    }


    .name {
        font-size: 50px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
    }

    .name2 {
        font-size: 26px;
        font-weight: 10;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
    }

    .ph {

        text-decoration: none;
    }

    .contact {
        margin-bottom: -25px;

    }

    footer {
        width: 65.8vw;
        margin-top: 75.9px;
    }


{% comment %} 
    /* for mobile  */
    @media screen and (min-width:360px) {
        img {
            float: none;
            height: 350px;
            width: 428px;
        }

        footer {
            width: 428px;
            
        }

        .quote {
            font-size: 26px;
            margin-top: -135px;

        }

        .name {
            font-size: 25px;
            font-weight: bold;
            /* font-weight: 200; */


        }

        .name2 {
            font-size: 20px;
            font-weight: 10;
            margin-left: 25px;
            margin-right: 25px;

        }

        .ph {

            text-decoration: none;
        }

        .contact {
            margin-bottom: -25px;

        }


    }



    /* for tablet  */
    @media screen and (min-width:750px) {
        img {
            float: none;
            height: 700px;
            width: 810px;
        }

        footer {
            width: 810px;

        }

        .quote {
            font-size: 26px;
            margin-top: -135px;

        }

        .name {
            font-size: 25px;
            font-weight: bold;
            /* font-weight: 200; */


        }

        .name2 {
            font-size: 20px;
            font-weight: 10;
            margin-left: 25px;
            margin-right: 25px;

        }

        .ph {

            text-decoration: none;
        }

        .contact {
            margin-bottom: -25px;

        }

    } */ {% endcomment %}

</style>

{% endblock style %}

{% block body %}
<div class="pallindrome"></div>
<a class='img' href="/contact"><img src="/static/img/saul img.jpg" alt="saul img"></a>
<p class="quote">
    Trouble !!!!! Better Call Saul
</p>

<p class="contact">
<div class="name"> Saul Goodman</div>
<div class="name2">Attorney at law</div>
<div class="name2">6th St, Santa Fe, NM,74005,United States</div>
<div class="name2">OR</div>
<div class="name2">508 17th St, Albuquerque, NM 87102, United States</div>
<div class="name2">Call <a class="ph" href="/contact">&nbsp;9999-123-456</a></div>

</p>

{% endblock body %}